@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body, .root{
      width:100%;
      font-size:16px;
}

$Logo-font: 'Lobster', cursive;
$Large-logo-font-size: 12.5rem; /* font 300px */

$Regular-font: 'Lato', sans-serif;


/* Font Sizes */


/* Font color */
$Font-color1: #000;
$Font-color2: #fff;

/* backgroun color */
$Background-color1: #000;
$Background-color2: #fff;

.large-logo{
    font-family:$Logo-font;
    line-height:1.5;
    margin:0;
    text-align:center;
    letter-spacing:-0.018em;
    font-size: $Large-logo-font-size;
}

.button-group{
    margin: 0 auto;
    /* width has to match Cody large logo */
    width: $Large-logo-font-size * 2;
    display:flex;
    justify-content:space-between;
}

.large-button{
    font-family:$Regular-font;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align:center;
    width: 12rem;
    background-color:$Background-color2;
    box-sizing:border-box;
    border:2px solid #000;
    color:$Font-color1;
}

.no-link-style{
    color:$Font-color1;
    text-decoration: none;
}


.header{
    width:100%;
    background-color:$Background-color1;

    &__h1{
	font-family:$Logo-font;
	font-size:1.5rem;
	line-height:1.67;
	color:$Font-color2;
	margin:0px;
	text-align:center;
    }
}

.tutorial{
    width:40%;
    padding-top:22.5%;
    background-color:red;
    margin: 24px auto;
}

.center-block{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.huge-button-group{
    padding-top:24px;
    margin: 0 auto;
    width: 70%;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}


.huge-button{
    font-family:$Regular-font;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align:center;
    width: 49.4%;
    background-color:$Background-color2;
    box-sizing:border-box;
    border:2px solid #000;
    color:$Font-color1;
    font-size:5rem;
    line-height:1.5;
    padding:1.2em 0;
}

.wrapper-button{
    width: 49.4%;

    &__button{
	width:100%;
    }
}

.options{
    padding-top:1.66rem;
    width: 49.4%;

    &__row{
	display:flex;
	align-items:center;
	justify-content:space-between;
    }
}


/* Components */
.toggle{
    width:3rem;
    height:1.5rem;
    border-radius:0.75em;
    background-color:#000;
    position:relative;
    display:flex;
    align-items:center;

    &-container{
	display:inline-block;
    }

    &__button{
	width:1.2rem;
	height:1.2rem;
	border-radius:0.6rem;
	background-color:#c4c4c4;
	margin:0 0.2em;
	position:absolute;
	trasition:all 0.4s ease;
    }

    &--off{
	left:1.4rem;
    }
}

