@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body, .root{
      width:100%;
      font-size:16px;
}

$Logo-font: 'Lobster', cursive;
$Large-logo-font-size: 12.5rem; /* font 300px */

$Regular-font: 'Lato', sans-serif;


/* Font Sizes */


/* Font color */
$Font-color1: #000;
$Font-color2: #fff;

/* backgroun color */
$Background-color1: #000;
$Background-color2: #fff;

body{
    font-family:$Regular-font; 
}

.back-button{
    width:7rem;
    background-color:#000;
    border:none;
    background-image:url(./images/back-arrow.svg);
    background-position:left;
    background-size:2rem;
    color:#fff;
    background-repeat:no-repeat;
    position:absolute;
    left:2rem;
    top:.5rem;
    font-size:1.25rem;

}

.large-logo{
    font-family:$Logo-font;
    line-height:1.5;
    margin:0;
    text-align:center;
    letter-spacing:-0.018em;
    font-size: $Large-logo-font-size;
}

.button-group{
    margin: 0 auto;
    /* width has to match Cody large logo */
    width: $Large-logo-font-size * 2;
    display:flex;
    justify-content:space-between;
}

.large-button{
    font-family:$Regular-font;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align:center;
    width: 12rem;
    background-color:$Background-color2;
    box-sizing:border-box;
    border:2px solid #000;
    color:$Font-color1;
}

.no-link-style{
    color:$Font-color1;
    text-decoration: none;
}


.header{
    width:100%;
    position:relative;
    background-color:$Background-color1;

    &__h1{
	font-family:$Logo-font;
	font-size:1.5rem;
	line-height:1.67;
	color:$Font-color2;
	margin:0px;
	text-align:center;
    }
}

.tutorial{
    width:40%;
    padding-top:22.5%;
    background-color:red;
    margin: 24px auto;
}

.center-block{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.huge-button-group{
    padding-top:24px;
    margin: 0 auto;
    width: 70%;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}


.huge-button{
    font-family:$Regular-font;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align:center;
    width: 49.4%;
    background-color:$Background-color2;
    box-sizing:border-box;
    border:2px solid #000;
    color:$Font-color1;
    font-size:5rem;
    line-height:1.5;
    padding:1.2em 0;
}

.wrapper-button{
    width: 49.4%;

    &__button{
	width:100%;
    }
}

.options{
    width: 49.4%;

    &__row{
	padding-right:1rem;
	display:flex;
	align-items:center;
	justify-content:space-between;
    }
}

.main-wrapper{
    margin:0 auto;
    width:70%;
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}

.page-content, .page-description{
    width:40%;
}

.page-description{
    &__header{
	font-size:2.6rem;
	line-height:1.6;
	margin:0;
    }

    &__copy{
	margin:.25rem 0 0;
	font-size:1.5rem;
	line-height:1.67;
    }

}

.page-content{
    margin-top:0.5rem;
}

.type-display{
    box-sizing:border-box;
    min-height:6.125rem;
    width: 100%;
    background-color:#c4c4c4;
    padding:.5rem;
    
    &__container{
	margin-top:0.5rem;
    }

    &__description{
	font-size:.75rem;
	line-height:1.67;
    }

    &__item{
	display:inline-block;
	text-align:center;
	padding: 0 .5rem;
	border-radius:.5rem;
	background-color:#fff;
	margin-right:.25rem;
	margin-bottom:0.5rem
    }

}

.filetype{
    width:100%;
    margin-bottom:1rem;

    &__header{
	font-size:1.5rem;
	line-hieght:1.67;
	margin:0 0 .25rem;
    }

    &__content{
    box-sizing:border-box;
    width: 100%;
    background-color:#c4c4c4;
    padding:.5rem;
    }

    &__item{
	display:inline-block;
	text-align:center;
	padding: 0 .5rem;
	border:none;
	border-radius:.5rem;
	background-color:#fff;
	margin-right:.25rem;

	&--active{
	    color:#fff;
	    background-color:#000;
	}
    }
}

/* Components */
.toggle{
    width:3rem;
    height:1.5rem;
    border-radius:0.75em;
    background-color:#000;
    position:relative;
    display:flex;
    align-items:center;

    &-container{
	display:inline-block;
    }

    &__button{
	width:1.2rem;
	height:1.2rem;
	border-radius:0.6rem;
	background-color:#c4c4c4;
	margin:0 0.2em;
	position:absolute;
	trasition:all 0.4s ease;
    }

    &--off{
	left:1.4rem;
    }
}

