@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body, .root{
      width:100%;
      font-size:16px;
}

$Logo-font: 'Lobster', cursive;
$Large-logo-font-size: 12.5rem; /* font 300px */

$Regular-font: 'Lato', sans-serif;

.large-logo{
    font-family:$Logo-font;
    line-height:1.5;
    margin:0;
    text-align:center;
    letter-spacing:-0.018em;
    font-size: $Large-logo-font-size;
}

.button-group{
    margin: 0 auto;
    /* width has to match Cody large logo */
    width: $Large-logo-font-size * 2;
    display:flex;
    justify-content:space-between;
}

.large-button{
    font-family:$Regular-font;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align:center;
    width: 12rem;
    background-color:#fff;
    box-sizing:border-box;
    border:2px solid #000;
    color:#000;
}

.no-link-style{
    color:#000;
    text-decoration: none;
}
